// Place all the styles related to the administrador controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
body
{
	background-image: image-url('Me_complementa.jpg');
	background-repeat: no-repeat;
	background-size: 80%;
}

.admin
{
	background-image: image-url('Me_complementa.jpg');
	background-repeat: no-repeat;
	background-size: 80%;
}